.form-field input {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  border: 1px solid #ccc;
  width: clamp(1rem, 15vw + 1rem, 30rem);
}

.form-field input:focus {
  outline: none;
  border-color: #0078d4;
}

.required {
  color: red;
}
.error {
  min-height: 1.2em; /* reserves vertical space */
  color: red;
  font-size: 0.875rem;
  margin-top: 0.25em;
  border: red;
}

label {
  display: inline-block;
  width: 15rem;
  margin-right: 1rem;
}

.form-field input.invalid {
  border-color: red;
}
