* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

label {
  font-size: 1.125rem;
  line-height: 1.625rem;
  font-weight: 500;
}

.required {
  color: #e73629;
  margin-left: 0.25rem;
}

input,
select {
  font-size: 1rem;
  border: 1px solid #999999;
  width: 18rem;
  height: 44px;
  box-sizing: border-box;
  appearance: none; /* Remove default styling for select */
  margin: 0.25rem 0 0.25rem 0;
  outline: none;
}

input {
  padding: 0.5rem 1rem; /* Top, Right, Bottom, Left padding */
}

select {
  padding: 0rem 1rem; /* Top, Right, Bottom, Left padding */
}

select:hover {
  cursor: pointer; /* Change cursor to pointer on hover */
}
input:focus,
select:focus {
  border: 1px solid #007bc7;
  border-radius: 0;
}

input:hover,
select:hover {
  border-color: #007bc7;
}

.error {
  font-size: 0.875rem;
  line-height: 1.125rem;
  visibility: hidden;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

input.invalid + .error,
select.invalid + .error {
  visibility: visible;
}
