:host {
  display: block;
  position: relative; /* Allows positioning of the nav-buttons */
  box-sizing: border-box; /* Ensures padding is included in height */
  margin: 0;
  padding: 0;
  height: 100vh;
}

:root {
  --background: #f9f9f9;
  --blue: #007bc7;
  --input-border: #000000;
  --sublabel: #999999;
  --red: #e73629;
  --pri-btn-hover: #00729f;
  --pri-btn-active: #004977;
  --pri-btn-disabled: #e6e6e6; /* text: sublabel color */
  --sec-btn-default: #cce4f3;
  --sec-btn-hover: #99cae8;
  --sec-btn-active: #007bc7;
  --sec-btn-disabled: #f3f3f3; /* text: sublabel color */
  --padding: 2rem 15rem;
}

h1,
h2 {
  margin: 0;
}

h3 {
  margin-top: 0;
}

header {
  background-color: white;
  /* padding: clamp(1rem, 2vw, 2rem); */
  padding: 2rem 20%;
  box-shadow: 0px 0px 4px -2px rgba(0, 0, 0, 0.4);
}

.form-stepper {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 2rem;
  padding: 2rem 20%;
  height: 100%;
}

stepper-status {
  display: flex;
  justify-content: center;
  flex-direction: column; /* Vertical alignment for steps */
  gap: 2rem;
}

.summary {
  background-color: white;
  font-size: 1.125rem;
  line-height: 1.625rem;
  padding: 2rem;
  min-width: 20rem; /* Ensure summary has a minimum width */
  text-wrap: wrap;
}
.summary ul {
  padding: 0;
  margin: 0;
}

.summary li {
  list-style: none; /* Remove default list styling */
  padding: 0.25rem 0; /* Add some padding for spacing */
}

.summary-item {
  display: grid;
  gap: 1.25rem;
  grid-template-columns: 10rem 1fr; /* Fixed width for labels, flexible width for values */
  align-items: start; /* Align items vertically */
  word-wrap: break-word; /* Ensure long text wraps */
}

.summary-item span {
  overflow-wrap: break-word; /* Break long words if necessary */
  word-break: break-word;
}

@media screen and (max-width: 768px) {
  header,
  .container,
  .summary {
    padding: 1rem; /* Reduce padding for smaller screens */
  }

  .nav-buttons {
    padding: 1rem; /* Reduce padding for navigation buttons */
  }
}
