:host {
  display: block;
  box-sizing: border-box; /* Ensures padding is included in height */
  margin: 0;
  padding: 0;
  height: 100vh;
  /* Variables */
  --font-size-base: 1.125rem;
  --line-height-base: 1.625rem;
  --element-background: white;
  /* font-family: 'ROsanswebtextregular'; */
}

h1,
h2 {
  margin: 0;
}

h3 {
  margin-top: 0;
}

header {
  display: flex;
  flex-direction: column;
  background-color: var(--element-background);
  padding: 0rem 20% 2rem 20%;
  box-shadow: 0px 0px 4px -2px rgba(0, 0, 0, 0.4);
}

header img {
  width: 550px; /* Adjust the width as needed */
  max-width: 100%;
  justify-self: center;
  align-self: center;
}

form {
  flex-grow: 1;
}
.form-stepper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  display: flex;
  justify-content: start;
  gap: 2rem;
  padding: 2rem 20%;
  height: 100%;
}

.summary {
  background-color: var(--element-background);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  text-wrap: wrap;
  width: 100%;
  height: 100%;
}
.summary ul {
  padding: 0;
  margin: 0;
}

.summary li {
  list-style: none; /* Remove default list styling */
  padding: 0.25rem 0; /* Add some padding for spacing */
}

.summary-item {
  display: grid;
  justify-content: space-between;
  gap: 2rem;
  grid-template-columns: 10rem 1fr; /* Fixed width for labels, flexible width for values */
  align-items: start; /* Align items vertically */
}

.summary-content {
  padding: 2rem;
}

.confirmation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 0;
}

.confirmation img {
  width: 50px; /* Adjust the size of the checkmark */
  height: auto;
  margin-bottom: 1rem; /* Space between image and text */
}
@media screen and (max-width: 768px) {
  header {
    padding: 0 1rem 1rem 1rem; /* Reduce padding for smaller screens */
  }
  .container,
  .stepper-status,
  .summary-content {
    padding: 1rem; /* Reduce padding for smaller screens */
  }

  .container {
    gap: 1rem;
  }

  .summary-item {
    grid-template-columns: 1fr; /* Stack items vertically */
    gap: 0.125rem; /* Reduce gap for smaller screens */
  }

  .nav-buttons {
    padding: 1rem; /* Reduce padding for navigation buttons */
  }

  .container {
    flex-direction: column; /* Stack form and summary vertically */
  }
}
