:host {
  display: block;
  position: relative; /* Allows positioning of the nav-buttons */
  box-sizing: border-box; /* Ensures padding is included in height */
  margin: 0;
  padding: 0;
  height: 100vh;
}

:root {
  --background: #f9f9f9;
  --blue: #007bc7;
  --input-border: #000000;
  --sublabel: #999999;
  --red: #e73629;
  --pri-btn-hover: #00729f;
  --pri-btn-active: #004977;
  --pri-btn-disabled: #e6e6e6; /* text: sublabel color */
  --sec-btn-default: #cce4f3;
  --sec-btn-hover: #99cae8;
  --sec-btn-active: #007bc7;
  --sec-btn-disabled: #f3f3f3; /* text: sublabel color */
}

h1,
h2 {
  margin: 0;
}

header {
  background-color: white;
  padding: 2rem;
}

.form-stepper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100%;
}

.container {
  justify-self: start;
  display: flex;
  justify-content: center;
  gap: 5%;
  padding: 2rem;
}
.stepper-status {
  flex: 0 0 auto; /* Prevents the stepper from growing */
  display: flex;
  flex-direction: column; /* Vertical alignment for steps */
  gap: 2rem;
}

.summary {
  padding: 2rem;
  background-color: white;
  font-size: 1.125rem;
  line-height: 1.625rem;
}
.summary ul {
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
}

.summary li {
  list-style: none; /* Remove default list styling */
  padding: 0.25rem 0; /* Add some padding for spacing */
}

.summary-item {
  display: grid;
  gap: 1.25rem;
  grid-template-columns: 1fr 2fr; /* Two columns: label and value */
}
