:host {
  display: block;
  margin-top: auto;
  /* Variables */
  --primary-button-hover: #00729f;
  --secondary-button-hover: #99cae8;
  --disabled-button-text-color: #999999;
  --font-size-base: 1.125rem;
  --line-height-base: 1.625rem;
}

.nav-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  padding: 2rem 20%;
  background-color: white;
}

.primary-button,
.secondary-button {
  min-width: 7rem;
  padding: 1rem;
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  cursor: pointer;
  border: none;
  outline: none;
}

.primary-button:focus-visible,
.secondary-button:focus-visible {
  outline: 2px dashed black;
  outline-offset: 1px;
}

.primary-button:focus-visible {
  background-color: var(--primary-button-hover);
}

.secondary-button:focus-visible {
  background-color: var(--secondary-button-hover);
}
.primary-button {
  background-color: #007bc7;
  color: white;
}

.primary-button:hover {
  background-color: var(--primary-button-hover);
}

.primary-button:active {
  background-color: #004977;
}
.primary-button:disabled {
  background-color: #e6e6e6;
  color: var(--disabled-button-text-color);
  cursor: default;
}

.secondary-button {
  background-color: #cce4f3;
  color: black;
}

.secondary-button:hover {
  background-color: var(--secondary-button-hover);
}

.secondary-button:active {
  background-color: #007bc7;
}
.secondary-button:disabled {
  background-color: #f3f3f3;
  color: var(--disabled-button-text-color);
  cursor: default;
}

@media screen and (max-width: 768px) {
  .nav-buttons {
    padding: 1rem; /* Reduce padding for navigation buttons */
  }
}
