:host {
  display: block;
}
@font-face {
  font-family: 'ROsanswebtextregular';
  src: url('../../assets/ROsanswebtextbold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

.stepper-status {
  display: flex;
  flex-direction: column; /* Stack steps vertically */
  gap: 2rem; /* Space between step containers */
  background-color: white;
  padding: 2rem;
}

.step-container {
  display: flex;
  flex-direction: row; /* Align step circle and label horizontally */
  align-items: center; /* Center items vertically */
  gap: 1rem; /* Space between the circle and the label */
}

.active,
.inactive,
.completed {
  font-size: 0.875rem;
  line-height: 1.125rem;
  aspect-ratio: 1;
  width: 2rem;
  height: 2rem;
  text-align: center;
  box-sizing: border-box;
  aspect-ratio: 1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-info {
  display: flex;
  flex-direction: column; /* Stack step info vertically */
}

.time-indication {
  font-size: 0.875rem;
  line-height: 1.125rem;
}
.step-label {
  font-size: 1.125rem;
  line-height: 1.625rem;
}

.current-label {
  font-weight: bolder;
}

.active {
  color: rgb(255, 255, 255);
  background-color: #007bc7;
  border: 2px solid #007bc7;

  font-weight: bold;
}

.inactive {
  border: 2px solid black;
}

.completed {
  color: white;
  background-color: #39870b;
  border: 2px solid #39870b;
}

.completed::before {
  content: '✓';
  font-size: 1.3rem;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .stepper-status {
    padding: 1rem; /* Reduce padding for smaller screens */
    gap: 1rem; /* Reduce gap between steps */
  }
}
