@font-face {
  font-family: 'ROsanswebtextregular';
  src: url('../assets/ROsanswebtextregular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*,
input,
textarea,
select {
  font-family: 'ROsanswebtextregular';
}
