@font-face {
  font-family: 'ROsanswebtextregular';
  src: url('../assets/ROsanswebtextregular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*,
input,
textarea,
select {
  font-family: 'ROsanswebtextregular';
  padding: 0;
}

html {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

body {
  background-color: #f9f9f9;
  width: 100%;
  height: 100%;
  margin: 0;
}
